
.header {
  color: white;
  font-size:52px;
  font-family:Lucida Handwriting;
}

.header2 {
  color: white;
font-size: 30px;
font-family:Lucida Handwriting;}

  .container {color:white;}

.header3{color:white;
font-size:25px;
 font-family:Lucida handwriting;}

 .img-responsive2 {width:500px;
   height:500px;
 left: 200px;}

  .background {
    background-image: url('../bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .jumbotron {
  background-image: url('../bg1.jpg');
      }

body{
  background-color: pink;
}

.logo{
  float:right;
}

.logo {
  height:150px;
}
.head {
  font-family:Lucida Handwriting; color:ff6699;
}

.twitter {
  background-color: #4737ba
  }
.facebook {
  background-color: white
}
.pinterest {
  background-color: #ce0e0e
}

.carousel-item img {
  max-height: 500px;
}
